
body {
  background: lightgrey;
}

.picture {
  position: absolute;
  width: 33vw;
  /* margin: auto; */
  padding: 3vw 3vw 7vw 3vw;
  background: white;
  border: lightgrey solid 2px;
  filter: saturate(0) opacity(0.7);
  transition: all ease 1s;
}

.picture:hover {
  filter: saturate(1) opacity(1);
  transform: rotate(0deg);
}

.picture1 {
  z-index: 1;
  top: 10vw;
  left: 15vw;
  transform: rotate(-10deg);
}

.picture2 {
  z-index: 2;
  top: 15vw;
  left: 25vw;
  transform: rotate(5deg);
}

.picture3 {
  z-index: 3;
  top: 20vw;
  left: 35vw;
  transform: rotate(30deg);
}

.picture4 {
  z-index: 4;
  top: 25vw;
  left: 45vw;
  transform: rotate(-35deg);
}
